<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cloudos.article.mapper.ArticleInfoTagMapper">

    <resultMap id="ArticleInfoTagResult" type="ArticleInfoTag">
        <id column="article_id" property="articleId"/>
        <result column="tag_id" property="tagId"/>
    </resultMap>

    <select id="getTagArticleCount" resultType="top.cloudos.article.model.vo.TagVO">
        SELECT
            t.name AS tag_name,
            a.tag_id,
            count( 1 ) AS article_count
        FROM
            article_info_tag a
                LEFT JOIN article_tag t ON a.tag_id = t.tag_id
        GROUP BY
            a.tag_id
    </select>

</mapper>
